* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Gibson Regular", Tahoma, Helvetica, sans-serif;
}

.heard {
  display: flex;
  background-color: #2aabe4;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}

nav a {
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  color: #ffcd24;
}

.form {
  margin: 40px;
}

form h1 {
  margin-bottom: 20px;
  align-items: center;
  justify-items: center;
}

form div {
  margin-bottom: 40px;
  box-sizing: border-box;
  padding-right: 16px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

.butt_link {
  background-color: #1bb3f5;
  border: 0;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 0.75rem 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  height: 50px;
  width: 100%;
}
.form-map {
  display: flex;
  background-color: #33393d;
}

.img {
  width: 50%;
  height: 100%;
  margin: 40px;
}

.img img {
  height: 100%;
  width: 100%;
}

.form {
  width: 50%;
}

.img h1 {
  margin-bottom: 20px;
  align-items: center;
  justify-items: center;
}

select {
  border: none;
  background-color: #33393d;
}

section {
  background-color: #33393d;
}

.about h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  color: #ffcd24;
}

.about h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.paragraphs {
  display: flex;
}

.para {
  margin: 30px;
}

.para h4 {
  margin-bottom: 20px;
}

.para p {
  margin-bottom: 15px;
}

.last-para {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.last-para p {
  margin-bottom: 15px;
}

.last-para h4 {
  margin-bottom: 15px;
}

.contuct_info {
  border-bottom: 1px solid #1bb3f5;
}
